* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-part {
    background-color: rgb(139, 187, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 70px;
}
.container {
    background-color:rgb(170, 188, 221);
    display: flex;
    border-bottom: 2px solid black;
    height: 50vh;
    justify-content: space-around;
    align-items:center
    border:2px solid black;
    
    
}
.month {
    padding: 30px;
    border-right: 2px solid black;
    height: 100%;
}
.content {
    padding: 50px;
    border-right: 2px solid black;
    height: 100%;
}
.days {
    padding: 50px;
}
.footer-section {
    display: flex;
    background-color: rgb(139, 187, 171);
    height: 70px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}