* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-part {
    background-color: rgb(139, 187, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    height: 70px;
}